@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.container{
    width: 100%;
    min-height: 1000px;
    margin: auto;
   
}


.container .main-header{
    width: 100%;
    height: 60px;
    
}

.logo{
width: 40%;
height: 60px;
float: left;
}

.logo img{
    width: 80px;
    height: 60px;
    margin-left: 15px;
}

.menu{
    width: 45%;
    height: 60px;
    float: right;
    margin-top: 15px;
}

.menu a{
    padding: 5px;
    text-decoration: none;
    font-size: larger;
    color: #000;
}

.menu a:hover{
    background-color: orange;
    color: white;
}

.slider{
    width: 100%;
    min-height: 500px;
    background-image: url(/images/bar-slider.jpg);
    background-size: cover;
    opacity: 0.9;
    

}

.slider h1{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
   padding-top: 200px;
}

.slider p{
    color: aliceblue;
    text-align: center;
    font-size: 15px;
}

.proudcts{
    width: 80%;
    min-height: 350px;
    margin-bottom: 10px;
    display: flex;
    margin: auto;
    /* border: 1px solid #000; */
    padding-left: 160px;

}
.spes{
    width: 100%;
    height: 45px;
}
.spes h2{
    text-align: center;
    margin-top: 10px;
}
.proudcts h2{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: black;
   
}

.first{
    width: 25%;
    height: 300px;
    margin: 1%;
   margin-top: 20px;
   align-items: center;
   padding: 20px;
   
}

.first img{
    width: 100%;
    border-radius:600px ;
    height: 57%;
    margin: 2px;

}

.first h3{
    text-align: center;
    color: orange;
}

.first p{
    color: black;
    text-align: justify;
}
.main-gallery{
    width: 80%;
    min-height: 300px;
    margin-bottom: 5px;
    margin: auto;
}
.head{
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
}
.head h2{
    text-align: center;
}

.gallery{
    width: 100%;
    height: 200px;
    display:flex;
}

.photos{
    width:22.5%;
    height: 250px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.photos:nth-child(1)
{
    
    margin-left:2%;
}

.photos:nth-child(2)
{
    margin-left: 3%;
    margin-right: 2%;
}

.photos:nth-child(3)
{
    
    margin-right: 2%;
}
.photos:nth-child(4)
{
    
    margin-right: 2%;
}


.photos img{
    width: 100%;
    height: 149px;
}

.contact{
    width: 100%;
    min-height: 350px;
   background-color: #000;
    

}
.contact h1{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding-top: 30px;
    
}

.msg{
    width: 50%;
    height: 300px;
    float: left;
   

}




.name{
    width: 100%;
    min-height: 40px;
    margin-top: 30px;
    margin-left: 30px;

}

.name input[type=text]{
    padding: 5px;
    width: 90%;
}



.email{
    width: 100%;
    min-height: 40px;
    margin-left: 30px;
  
}

.email input[type=email]{
    padding: 5px;
    width: 90%;
   
}


.number{
    width: 100%;
    min-height: 40px;
    margin-left: 30px;
  
}

.number input[type=number]{
    padding: 5px;
    width: 90%;
   
}



.reply{
    width: 100%;
    min-height: 50px;
    margin-left: 30px;
    
}

.reply input[type=text]{
    padding: 5px;
    width: 90%;
   padding-bottom: 30px;
   
   
}


.button{
    width: 100%;
    min-height: 50px;
    margin-left: 30px;
    margin-top: 20px;
    
}

.button input[type=button]{
    padding: 10px;
    width: 20%;
  
   
   
}



.add{
    width: 50%;
    height: 300px;
    float: left;
    
   

}

.add pre{
    margin-top: 30px;
    margin-right: 100px;
    padding-right: 100px;
    color: aliceblue;
}


.add .site{
    margin-left: 70px;
}

.add i{
    padding: 3px;
}

.copy p{
    padding-left: 5px;
}

.clerfix::after{
    content: "";
    clear: both;
    display: block;

}







