*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contanier
{
    width: 60%;
    min-height: auto;
    margin: auto;
    border: 1px solid #000;
}

.main-header{
    width: 100%;
    min-height: 380px;
    background-image: url(../images/office-compnay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.1;
   
    
}


.header{
    width: 100%;
    height: 50px;
   border: 1px solid gray;
}


.logo{
    width: 10%;
    height: 60px;
    float: left;
}

.logo img{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

.menu
{
    width: 65%;
    height: 60px;
    float: left;
    margin-top: 10px;

}
.menu a{
   padding: 5px;
   color:crimson;
   font-size: 15px;
}
.menu a:hover{
    color: black;
    background-color: bisque;
}


.menu a{
    text-decoration: none;
}

.contact{
    width: 25%;
    height: 60px;
    float: left;
    margin-top: 15px;
}

.contact i{
    padding: 5px;

}

.contact h5{
   margin-left: 80px;
   margin-top: -30px;
   color:black;
}

.contact p{
    font-size: 11px;
    margin-left: 66px;
}