
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

.box{
    width: 80%;
    min-height: 300px;
   
    margin: auto;
}

.header{
    width: 100%;
    min-height: 60px;
    display: flex;
  border: 1px solid #000;
}

.logo{
    width: 30%;
    min-height: 60px;
}

.logo img{
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
    
}

.heading{
    width: 30%;
    min-height: 60px;
    margin-top: 20px;
}

.heading h1{
   text-align: center;
}


.search{
    width: 30%;
    min-height: 60px;
    margin-top: 30px;
}

.search input[type=text]{
    margin-left: 90px;
    padding: 3px;
    outline: none;
}

.slider{
   width: 100%;
   min-height: 300px;
   margin-top: 10px;
   border: 1px solid #000;
   
}


.footer{
    width: 100%;
}

.footer h4{
    text-align: center;
}
